header {
    float: left;
}

header h1 {
    margin-bottom: 40px;
}

i.fa {
    vertical-align: middle;
    margin-right: 4px;
}

nav {
    height: 80px;
}

nav > ul {
    padding: 0;
    margin: 0;
}

nav > ul > li {
    padding: 16px 36px;
    border: solid #605E5E;
    border-width: 0 0 1px 0;
    display: inline-block;
}

nav > ul > li.active {
    border-width: 1px 1px 0 1px;
}

nav > ul > li:first-child {
    border-left-width: 0 !important;
}

nav > ul > li:last-child {
    border-right-width: 0 !important;
}

.nav.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav.navbar-nav li.center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: absolute;
}

.nav.navbar-nav .university-title span {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    display: block;
}

.nav.navbar-nav .menu-item:first-of-type {
    margin-right: auto;
}

.nav.navbar-nav .menu-item img {
    height: 80px;
}

.navbar.navbar-default {
    background-color: #0c275d;
    overflow: hidden;
}

.navbar > .container-fluid .navbar-brand {
    font-size: 18px;
    font-weight: 500;
    padding: 30px 45px 30px 15px;
    height: auto;
    color: #000;
}

.navbar li > .menu-item-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 30px 15px;
    cursor: pointer;
}

.navbar li > .menu-item-link img {
    margin-right: 6px;
}
.navbar li > .menu-item-link span {
    vertical-align: middle;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li:visited > a,
.navbar-default .navbar-nav > li:focus > a {
    color: #ffffff !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #CCCCCC !important;
}

.navbar-default .navbar-nav > li.active:hover > a {
    color: #F2995E !important;
}

@media (max-width: 991px) {
    .navbar.navbar-default {
        padding: 0;
    }
}

@media (max-width: 767px) {

    .navbar-nav > li {
        float: none;
        display: inline-block;
    }

    .bm-burger-button {
        display: block !important;
    }
}

.container-fluid {
    padding-left: 0px !important;
}

.bm-burger-button {
    top: 8px !important;
    display: none;
}

.bm-burger-bars {
    background: #f9f9f9 !important;
}

.bm-item-list a {
    padding: 0.8em;
    color: rgb(184, 183, 173);
}

span {
    margin-left: 10px;
    font-weight: 700;
}
